h1 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
}
body {
    font-family: 'Dancing Script', cursive;
 font-weight:bold;
 font-size:large;
 margin: 0%;
}
h3 {
    font-size: 30px;
}
.common {
    display:flex;
    padding-left: 4%;
    margin-bottom: 100px;
}

.s1 {
   background-image:url("jhankar image/top-banner.png");
    background-repeat: no-repeat;
}
.first {
    width: 50%;
}
.first img{
    width: 60%;
   
}
.link {
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 40px;
    color: white;
    background-image: linear-gradient(orange,tomato);

}
.second{
    width: 50%;

}
.second img{
    width: 80%;
   
}
.s2{
    background-image: url("jhankar image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.ex {
    background-image: url("jhankar image/exp-bg.png");
    background-position:left;
    background-repeat: no-repeat;
}
.shadow {
    width: 50%;
    margin-left: 5%;
    margin-right: 10%;
    box-shadow: 5px 5px 30px gray;
    padding-left: 2%;
    padding-right: 1%;
    border-radius: 15px;

}
#d1 {
    border-left: 5px solid;
    border-image: linear-gradient(blue,red );
    border-image-slice: 1;
}
#d2 {
    border-left: 5px solid;
    border-image: linear-gradient(blue,orange);
    border-image-slice: 1;
}