h1 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
}
body {
    font-family: 'Dancing Script', cursive;
 font-weight:bold;
 font-size:large;
 margin: 0%;
}
h3 {
    font-size: 30px;
}
section {
    display:flex;
   padding-left: 4%;
   margin-bottom: 100px;


}
.s1 {
    background-image:url("jhankar image/top-banner.png");
    background-repeat: no-repeat;
}
.first {
    width: 50%;
}
.first img{
    width: 60%;
   
}
.link {
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 40px;
    color: white;
    background-image: linear-gradient(orange,tomato);

}
.second{
    width: 50%;

}
.second img{
    width: 80%;
   
}
.s2{
    background-image: url("jhankar image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}